@charset "UTF-8";

@font-face {
    font-family: english;
    src: url('Aamonoline.ttf');
}

@font-face {
    font-family: number;
    src: url('TsunagiGothic.ttf');
}

body{
    font-weight: 400;
    font-style: normal;
    background-color: white;
    text-align: center;
}

h1,input{
    font-family: english;
}

a{
    color: blue;
}

div{
    text-align: center;
}

h1{
    margin: 0 auto;
    font-size: 75px;
    color: aquamarine;
}

#clear{
    color: #a2fd19;
    font-size: 36px;
    font-family: english;
    font-weight: bolder;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 450px;
    background-color: #ffffffe0;
}

#gameover{
    color: red;
    font-size: 36px;
    font-family: english;
    font-weight: bolder;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 450px;
    background-color: #ffffffe0;
}

table{
    margin: 0 auto;
}

td{
    font-family: number;
    height: 50px;
    width: 50px;
    font-size: 30px;
    background-color: black;
    color: #00000000;
    border-color: white;
    transition: background 0.5s cubic-bezier(0,0,0,1), color 0.5s cubic-bezier(0,0,0,1), border 0.5s cubic-bezier(0,0,0,1);
}

td.open{
    background-color: white;
    border-color: black;
}

td.bomb{
    background-color: red;
    border-color: black;
    color: #800000;
}

.a{
    color :#ff8080
}

.b{
    color :#ffd580
}

.c{
    color :#d5ff80
}

.d{
    color :#80ff80
}

.e{
    color :#80ffd5
}

.f{
    color :#80d5ff
}

.g{
    color :#8080ff
}

.h{
    color :#ff80d5
}

input{
    font-weight: bolder;
}

#new{
    background-color: white;
    color: aquamarine;
    font-size: 24px;
}

label{
    font-size: 24px;
    font-family: number;
}

svg{
    margin: 0px;
    padding: 0px;
    width: 50px;
    height: 50px;
}
